---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---



At Durham University

• Financial Economics (2nd year course), 2020 − 2021 & 2021 − 2022
• Introduction to Financial Econometrics (2nd year course), 2020 − 2021
• Quantitative Methods (1st year course), 2021 − 2022
• Economic Methods (1st year course), 2022 − 2023
• Behavioural and Experimental Economics (2nd year course), 2022 − 2023
• Mastering Computation and Data (1st year), 2023-24
• Econometrics (2nd year), 2023-24
• The World Economy (1st year), 2023-24
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
